/******************************************************************************
 *
 * finder.rc - Windows resources for the board finder.
 *
 * Copyright (c) 2009-2010 Texas Instruments Incorporated.  All rights reserved.
 * Software License Agreement
 * 
 * Texas Instruments (TI) is supplying this software for use solely and
 * exclusively on TI's microcontroller products. The software is owned by
 * TI and/or its suppliers, and is protected under applicable copyright
 * laws. You may not combine this software with "viral" open-source
 * software in order to form a larger program.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITH ALL FAULTS.
 * NO WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT
 * NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE APPLY TO THIS SOFTWARE. TI SHALL NOT, UNDER ANY
 * CIRCUMSTANCES, BE LIABLE FOR SPECIAL, INCIDENTAL, OR CONSEQUENTIAL
 * DAMAGES, FOR ANY REASON WHATSOEVER.
 * 
 * This is part of revision 6594 of the Stellaris Firmware Development Package.
 *
 *****************************************************************************/

1               VERSIONINFO
FILEVERSION     1,0,0,6594
PRODUCTVERSION  1,0,0,6594
FILEFLAGSMASK   0x3f
FILEFLAGS       0
FILEOS          0x4
FILETYPE        0x1
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName",      "Texas Instruments Incorporated"
            VALUE "FileDescription",  "Stellaris Board Finder"
            VALUE "FileVersion",      "6594"
            VALUE "InternalName",     "finder.exe"
            VALUE "LegalCopyright",   "Copyright (c) 2009 Texas Instruments Incorporated.  All rights reserved."
            VALUE "OriginalFilename", "finder.exe"
            VALUE "ProductName",      "Stellaris Board Finder"
            VALUE "ProductVersion",   "6594"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END

1 ICON finder.ico
